/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* Header area style */
header{
    background-color:#2D25A0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 86px;
}
.header-content{
    color: white;
    max-width: 485px;
    margin-right: 7px;
}
.header-content h1{
    font-size: 64px;
    margin-bottom: 27px;
}
.header-content a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    font-size: 15px;
    padding: 10px 10px;
}
.header-content i{
    margin-left: 8px;
}
.header-image{
    margin-left: 7px;
}
.header-image img{
    width: 556px;
    transition: transform 2s ease-in-out;
}

.header-container:hover .header-image img{
    transform: rotate(360deg);
}


/* main style start */
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-players{
    padding: 70px 12.5%;
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.player{
    width: 300px;
    background-color: #FFFFFF;
    border: 15px solid #FFFFFF ;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%
}
.player-name{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;

}
/* bonus style */
.stream-title {
    text-align: center;
    font-size: 40px;
    color: goldenrod;
}
.stream-banner{
    display: flex;
    justify-content: space-around;
}
.left-banner,.right-banner{
    width: 480px;
    margin-left: 50px;
    background: darkblue;
    padding: 20px;
    border-radius: 0px 25px 0px 25px;
}
.left-banner > h4,.right-banner > h4{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time>h2{
    font-size: 30px;
    color: goldenrod;
}
.team{
    margin-left: 10px;
    padding: 5px;
}
.time > .team >h4{
    margin: 0;
    color: goldenrod;
}
.team > p{
    color: white;
}
/* bottom-area style */
.bottom-area{
    margin: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background-color: navy;
    color: white;
}
.subscribe{
    margin-left: 50px;
}
form{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
form input{
    width: 100%;
}
form button{
    padding: 10px 10px;
    font-size: 20px;
}
iframe{
    height: 400px;
}

/* Footer style  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 0;
  }
  .logo img{
    width: 100%;
  }
  .social-links ul {
    display: flex;
  }
  .social-links ul li {
    list-style: none;
    margin-right:14px;
  }
  .social-links ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: rgba(150, 155, 171, 1);
    background-color: rgba(11, 13, 23, 0.089);
    
  }

  /* media query */

  /* For mobile */
  @media only screen and (max-width:688px) {
    .header-container{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        padding: 0;
        padding-top: 112px;
        padding-bottom: 66px;
    }
    .header-content h1{
        font-size: 36px;
    }
    .header-image{
        margin-top: 50px;
        padding: 0 15px;
    }
    .header-image img{
        width: 100%;
    }
    .header-content{
        padding-left: 16px;
    }
    .top-players{
        padding: 47px 15px;
    }
    .players{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        width: 90%;
        margin: 0 auto;
    }
    .stream-banner{
        flex-wrap: wrap;
    }
    .left-banner,.right-banner{
        width: 80%;
        margin-top: 20px;
        margin-left: 0;
    }
    .bottom-area{
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-bottom: 55px;
    }
    form{
        margin-bottom: 50px;
    }
    .highlights{
        margin:auto;
    }
    iframe{
        width: 100%;
    }
    footer{
        flex-wrap: wrap;
        margin-bottom: 187px;
    }
    .logo img{
        width: 90%;
    }

  }
/* Tablet */